.promo__banner {
    height: calc(560px + 74px);
    padding: 74px 70px 0;
    background-color: #073042;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.promo__header {
    max-width: 626px;
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -1.6px;
    margin: 0;
    padding-top: 50px;
}

.promo__banner-logo {
    max-height: 244px;
    align-self: flex-end;
    padding-bottom: 60px;
}

@media screen and (max-width: 855px) {
    .promo__banner-logo {
        align-self: center;
        width: 680px;
        height: 230px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .promo__banner {
        height: calc(844px + 74px);
        padding: 0 44px;
        align-items: center
    }

    .promo__header {
        padding-top: 374px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .promo__banner {
        height: calc(630px + 74px);
        padding: 0 10px;
    }

    .promo__header {
        padding-top: 257px;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
        max-width: 300px;
    }

    .promo__banner-logo {
        padding-bottom: 40px;
        height: 230px;
    }
}