.register {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.register__container {
    width: 396px;
    color: #FFF;
}

.register__title {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
}

.register__form {
    height: 68%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register__inputs-container {
    display: flex;
    flex-direction: column;
}

.register__button {
    height: 45px;
    border-radius: 3px;
    color: #fff;
    background-color: #4285F4;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.register__login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 16px;
}

.register__caption {
    margin: 0;
    color: #8B8B8B;
}

.register__login {
    text-decoration: none;
    color: #4285F4;
    padding-left: 6px;
}

.register__logo {
    max-width: 38px;
}


@media screen and (max-width: 800px) {
    .register {
        padding: 232px 0;
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 56px 0 30px;
    }

    .register__container {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register__title {
        margin: 50px 0 80px;
    }

    .register__button {
        font-size: 12px;
    }

    .register__login-container {
        font-size: 12px;
    }

    .register__login {
        padding-left: 7px;
    }
}